@model PortalAdopcjiZwierzat.Models.Zwierzeta.Zwierze

@{
    ViewData["Title"] = "Edit";
}

<h1>Edytuj</h1>

<h4>Zwierzę</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Adoptowany" /> @Html.DisplayNameFor(model => model.Adoptowany)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Imie" class="control-label"></label>
                <input asp-for="Imie" class="form-control" />
                <span asp-validation-for="Imie" class="text-danger"></span>
            </div>        
            <div class="form-group">
                <label asp-for="Nazwa" class="control-label"></label>
                <input asp-for="Nazwa" class="form-control" />
                <span asp-validation-for="Nazwa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plec" class="control-label"></label>
                <input asp-for="Plec" class="form-control" />
                <span asp-validation-for="Plec" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rasa" class="control-label"></label>
                <input asp-for="Rasa" class="form-control" />
                <span asp-validation-for="Rasa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Umaszczenie" class="control-label"></label>
                <input asp-for="Umaszczenie" class="form-control" />
                <span asp-validation-for="Umaszczenie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Siersc" class="control-label"></label>
                <input asp-for="Siersc" class="form-control" />
                <span asp-validation-for="Siersc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wiek" class="control-label"></label>
                <input asp-for="Wiek" class="form-control" />
                <span asp-validation-for="Wiek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <input asp-for="Opis" class="form-control" />
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZdjecieUrl" class="control-label"></label>
                <input asp-for="ZdjecieUrl" class="form-control" />
                <span asp-validation-for="ZdjecieUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróc do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
