html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.logo {
    height: 100px;
    width: 100px;
}

.pet-image {
    height: 80%;
    width: 80%;
    border: 1px solid black;
    background-color: lightgrey;
}


table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em !important;
    content: "" !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mb50 {
    margin-bottom: 50px;
}

div {
    display: block;
}

a {
    text-decoration: none;
    color: black;
}


.pet-items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.pet-item {
    margin-bottom: 20px;
    position: relative;
    box-shadow: 0 1px 4px rgba(0,0,0,.1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 1em;
}

.pet-width {
    width: 15%;
}